Repository VytasKer/Fintegrate: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, black, check-yaml, check-json, check-toml, check-ast

ruff-check:
  name: Ruff Linter
  entry: venv/Scripts/ruff.exe check --fix --exit-non-zero-on-fix --config=.ruff.toml
  language: system

ruff-format:
  name: Ruff Formatter
  entry: venv/Scripts/ruff.exe format --config=.ruff.toml
  language: system

black:
  name: Black Formatter
  entry: venv/Scripts/black.exe --line-length=120
  language: system

check-yaml:
  name: Check YAML Syntax
  entry: python -c "import sys, yaml; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

check-json:
  name: Check JSON Syntax
  entry: python -c "import sys, json; [json.load(open(f)) for f in sys.argv[1:]]"
  language: system

check-toml:
  name: Check TOML Syntax
  entry: python -c "import sys, tomllib; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

check-ast:
  name: Validate Python AST
  entry: python -m py_compile
  language: system

Changes 20251115_04 metrics API implementation
  PRE-COMMIT-GUIDE.md
  docker/Dockerfile.customer_service
  docker/docker-compose.yml
  services/customer_service/main.py
  services/customer_service/metrics.py
  services/customer_service/prometheus_middleware.py
  services/customer_service/requirements.txt
  services/customer_service/routes.py
  services/event_consumer/simple_consumer.py
  sonar-issues.json
Due: ruff-check, ruff-format, black, check-yaml, check-json, check-ast

Changes 20251116_01 prometheus and grafana
  docker/docker-compose.yml
  docker/prometheus-rules.yml
  docker/prometheus.yml
  docker/test-monitoring.ps1
  monitoring/dashboards/dashboards.yml
  monitoring/dashboards/integration-metrics.json
  monitoring/datasources/prometheus.yml
Due: check-yaml, check-json

Changes 20251116_02 prometheus and grafana minikube
  .pre-commit-config.yaml
  kubernetes/mng-fngrt.ps1
  kubernetes/monitoring/00-namespace.yaml
  kubernetes/monitoring/01-persistent-storage.yaml
  kubernetes/monitoring/02-prometheus-config.yaml
  kubernetes/monitoring/03-prometheus-deployment.yaml
  kubernetes/monitoring/04-grafana-config.yaml
  kubernetes/monitoring/05-grafana-deployment.yaml
  kubernetes/monitoring/test-kubernetes-monitoring.ps1
  services/customer_service/prometheus_middleware.py
Due: ruff-check, ruff-format, black, check-yaml, check-ast

Changes 20251117_01 build aml-service
  .pre-commit-config.yaml
  docker/Dockerfile.aml_service
  docker/docker-compose.yml
  services/aml_service/__init__.py
  services/aml_service/config.py
  services/aml_service/main.py
  services/aml_service/requirements.txt
  services/aml_service/sanctions_checker.py
  services/aml_service/sanctions_downloader.py
  services/customer_service/constants.py
  services/customer_service/crud.py
  services/customer_service/routes.py
  services/customer_service/schemas.py
  services/shared/event_publisher.py
  xsd/20171012-FULL-schema-1_1(xsd).xsd
Due: ruff-check, ruff-format, black, check-yaml, check-ast

Changes 20251117_02 aml rabbit messages fix
  services/aml_service/main.py
  services/event_consumer/simple_consumer.py
Due: ruff-check, ruff-format, black, check-ast

Changes 20251118_01 aml minikube
  kubernetes/configmaps/aml_service-configmap.yaml
  kubernetes/deployments/aml_service-deployment.yaml
  kubernetes/mng-fngrt.ps1
  kubernetes/services/aml_service-service.yaml
  kubernetes/volumes/sanctions-data-pv.yaml
  kubernetes/volumes/sanctions-data-pvc.yaml
Due: check-yaml

Changes 20251118_02 aml minikube deployment fix
  kubernetes/deployments/aml_service-deployment.yaml
Due: check-yaml

Changes 20251118_03 get customer/data fix
  services/customer_service/routes.py
  services/shared/response_handler.py
Due: ruff-check, ruff-format, black, check-ast

Changes 20251118_04 mng-fngrt update
  kubernetes/.last_build_timestamp
  kubernetes/mng-fngrt.ps1
Due: none

Changes 20251118_05 deployment instructions
  deployment-instructions.md
  kubernetes/mng-fngrt.ps1
Due: none

Changes 20251118_06 commit script
  CHANGELOG.md
  VERSION
  commit-and-push.ps1
  deployment-instructions.md
Due: none

Changes 20251118_07 images commit automatization
  CHANGELOG.md
  VERSION
  commit-and-push.ps1
Due: none

Changes 20251118_08 fix GET customer data for BLOCKED customers
  CHANGELOG.md
  VERSION
  commit-and-push.ps1
  services/customer_service/routes.py
  services/shared/response_handler.py
Due: ruff-check, ruff-format, black, check-ast

Changes 20251118_09 test commit
  CHANGELOG.md
  VERSION
Due: none

Create an auto-deploy file
  .github/workflows/customer-service-AutoDeployTrigger-decaf023-5a17-44c3-82be-1d84ae66fc18.yml
Due: check-yaml

Changes 20251119_01 azure deployment #1
  .gitignore
  deployment-instructions.md
  docs/azure-deployment-guide.md
  docs/azure-quick-reference.md
Due: none

Changes 20251122_01 updates to DB migration files
  database/migrations/20251023_1630_init_schema.sql
  database/migrations/20251024_1100_update_analytics_for_snapshots.sql
  database/migrations/20251101_1900_add_consumer_id_to_customers.sql
  database/migrations/20251103_0900_restructure_analytics_for_etl.sql
  database/migrations/20251104_1940_allow_null_consumer_id_for_global.sql
Due: none

Changes 20251122_02 fix and save DB migration files
  database/migrations/20251024_0900_remove_fk_constraints.sql
  database/migrations/20251024_1000_update_customer_tags_and_analytics.sql
  database/migrations/20251027_0900_add_outbox_columns.sql
  database/migrations/20251028_1000_add_delivery_tracking.sql
  database/migrations/20251031_0900_add_consumers_and_api_keys.sql
  database/migrations/20251101_0900_consumer_name_immutable.sql
  db-migrations-psql-commands.txt
Due: none

Changes 20251122_03 aml-service push to DockerHub
  .github/workflows/build-and-push.yml
  db-migrations-psql-commands.txt
Due: check-yaml

Changes 20260207_01 added GET: /customer/data-filter
  services/customer_service/crud.py
  services/customer_service/routes.py
  services/customer_service/schemas.py
Due: ruff-check, ruff-format, black, check-ast

Changes 20260211_01 validation fixes on GET: /customer/data-filter
  kubernetes/deployments/customer-service-deployment.yaml
  services/customer_service/routes.py
  services/customer_service/schemas.py
Due: ruff-check, ruff-format, black, check-yaml, check-ast

20260220_01 Update README.md
  README.md
Due: none

20260220_01 updated airflow docker secrets
  .gitignore
  docker/docker-compose.yml
Due: check-yaml

20260220_02 fixed secrets under deployment
  .gitignore
  airflow/MONITORING.md
  airflow/dags/consumer_analytics_backfill.py
  airflow/dags/consumer_analytics_etl.py
  airflow/dags/test_connection.py
  db-migrations-psql-commands.txt
  docker/docker-compose.yml
  docker/test-monitoring.ps1
  kubernetes/mng-fngrt.ps1
  kubernetes/monitoring/05-grafana-deployment.yaml
  kubernetes/monitoring/test-kubernetes-monitoring.ps1
  services/aml_service/config.py
  services/customer_service/config.py
  services/event_consumer/simple_consumer.py
  services/shared/event_publisher.py
Due: ruff-check, ruff-format, black, check-yaml, check-ast

Path conditions:
  ruff-check: any of: \.py$, but not: ^(venv/|\.venv/|__pycache__/)
  ruff-format: any of: \.py$, but not: ^(venv/|\.venv/|__pycache__/)
  black: any of: \.py$, but not: ^(venv/|migrations/)
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$, but not: package-lock\.json
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
